  <table class="table table-reponsive table-striped">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Descrição</th>
          <th scope="col">Responsável</th>
          <th scope="col">Porcentagem</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">{{selectedTarefa.id}}</th>
          <td>{{selectedTarefa.descricao}}</td>
          <td>{{selectedTarefa.nomeResponsavel}}</td>
          <td>{{selectedTarefa.porcentagem}} %</td>
        </tr>
      </tbody>
  </table>

  <button  type="button" class="btn btn-outline-primary" (click)="goBack()">Voltar</button>